body {
  background-color: rgb(32, 33, 36);
  font-family: sans-serif;
  color: #f1f3f5;
  padding: 0;
  margin: 0;
}

#disc {
  color: rgb(114, 114, 240);
}

#you1 {
  color: rgb(243, 87, 87);
}

.h1text {
  text-align: center;
}

nav {
  display: flex;
  background-color: #01050e;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 800px; /* Adjust to your preferred maximum width */
  padding: 20px; /* Add some padding to the edges of the container */
}

.box {
  text-align: center;
  background-color: #29292b;
  color: white;
  width: 40%; /* Adjust to your preferred width */
  min-height: 200px; /* Adjust to your preferred height */
  border-radius: 10px; /* Add rounded corners */
  padding-top: 20px; /* Add some space between the top of the box and the title */
  padding: 20px; /* Add some padding to the edges of the box */
  border: 1px solid #ccc;
  transition: transform 0.2s ease-in-out;
}

.box h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.box p {
  line-height: 1.5; /* Add some space between the lines of text */
}

.box:hover {
  transform: scale(1.1);
}

#footer1 {
  padding: 10px;
  text-align: center;
  height: 50px; /* Set the height of the footer */
  background-color: #111;
  position: absolute; /* Set the position to absolute */
  bottom: 0; /* Set the bottom position to 0 to stick it to the bottom */
  width: 100%; /* Set the width to 100% to span the entire width of the webpage */
}

#class1 {
  font-weight: normal; /* Set the font-weight to normal */
  text-align: center;
}

.rounded-button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.rounded-button:hover {
  background-color: #0062cc;
  transform: scale(1.1);
}
