body {
    background-color: black;
    font-family: sans-serif;
    color: white;
    margin: 20px;
}

.policy {
    margin: 0 auto;
    max-width: 1000px;
    width: 1000px;
    height: 950px;
    border-radius: 20px;
    padding: 20px;
}

#title {
    text-align: center;
    text-transform: uppercase;
}