body {
    color: #fff;
    /* color: rgb(22, 22, 22); */
    font-family: 'Montserrat';
    background: rgb(22, 22, 22);
}

/* Barra de navegacion */

.navegador {
    height: 60px;
    margin: 10px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.bold {
    font-weight: bolder;
}

#texto-blog {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.navegador-textos {
    text-align: center;
}

.lista {
    list-style: none;
    display: inline-flex;
}

.links {
    font-family: 'Montserrat';
    text-decoration: none;
    margin: 30px;
    font-size: 20px;
}


.contenedor {
    display: flex;
    align-items: center;
    margin-top: 30px;

}
.caja {
    display: block;
    /* background: rgb(172, 170, 170); */
    width: 1000px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}

/* Todo lo que son textos */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.p-tex {
    line-height: 30px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

.scrollear {
    opacity: 0;
    transform: translateY(20px); /* Move text slightly downward */
    transition: opacity 1.5s ease, transform 1.2s ease; /* Smooth transition */
}
.scrollear.visible {
    opacity: 1;
    transform: translateY(0);
}

.texto-li {
    line-height: 30px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 60px;
    text-align: justify;
}

.subtitulo-sub {
    color: lightblue;
    text-decoration: underline;
}

.p-img {
    padding-left: 20px;
    padding-right: 60px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.subtitulos {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background: linear-gradient(270deg,orange,  red, orange, red, orange);
    -webkit-background-clip: text; /* Solo para Safari */
    -webkit-text-fill-color: transparent;
}

.titulos {
    font-size: 50px;
    text-align: center;
    text-weight: bold;
    padding: 5px;
    background: linear-gradient(270deg, #a0f2fd, #c2f8fc, #07bcf3);
    -webkit-background-clip: text; /* Solo para Safari */
    -webkit-text-fill-color: transparent;
     /* Move text slightly downward */
}

.principaltexto {
    opacity: 0;
    animation: fadeIn 1.2s ease-in forwards;
}



.caja-flex {
    display: flex;
    align-items: center;
}

.imagen {
    display: block;
}

.imagenes {
    text-align: center;
    padding: 10px;
}

.botones {
    border-radius: 10px;
    width: 120px;
    height: 35px;
    color: #000;
    font-size: 17px;
}

.particulas {
    position: absolute;
    width: 100%;
    height: 800%;
    z-index: -1; /* Put it behind other elements */
}

